<footer>
    <div class="footerStart">
        <div class="lineaFooter"></div>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
        <div class="lineaFooter"></div>
    </div>
    <div >
    <p>© Miluz © 2020 Todos los Derechos Reservados</p>
    </div>
</footer>