<header class="header-completo">

    <!-- BARRA SUPERIOR FIJA NEGRA -->
    <div class="header-barraSupFija">
        <h2 class="header-barraTop-texto">
            ENVÍO GRATIS DESDE $20.000 | ENVIOS EN EL DÍA PARA CABA
        </h2>
    </div>

    <!-- MENU LOGO BUCADOR CARRITO -->
    <div class="header-menu-busca-carrito">
        <i class="fas fa-bars"></i>

        <!--<a href="/" style="text-decoration:none"><h1 class="marca">MILUZ</h1></a>-->
        <a href="/"><img src="/img/LOGO.png" width="150px"></a>

        <div class="header-busca-carrito">
            <i class="fas fa-search"></i>
            <a href="/login"><i class="far fa-user"></i> </a>
            <h2>|</h2>
            <a href="/shoppingCart"><i class="fas fa-shopping-bag"></i></a>
        </div>
    </div>

    <!-- TITULO DE SECCION -->
    <div class="header-titulo">
        <h1>Carteras</h1>
        <h5>summer</h5>
    </div>
</header>