<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- viewport: Para que se adapte a la resolucion del celular -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer ducumento en HTML</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
</head>


<header>
    <div class="header-top">
        <h2 class="header-top-texto">
            ENVÍO GRATIS DESDE $20.000 | ENVIOS EN EL DÍA PARA CABA
        </h2>
    </div>
    <from class="header-buscador">
        <i class="fas fa-bars"></i>
        <i class="fas fa-search"></i>
        <i class="fas fa-shopping-bag"></i>
    </from>
</header>

<body> 
    <section class="article-list">
        <article>
            <img src="img/HTPARTY-AZOR.jpg">
            <div>
                <p class="articulo-titulo">Cartera Char </p>
                <p class="articulo-precio">$41.500 </p>
                <p class="articulo-cuotas">12 cuotas de $3.458 </p>
            </div>
            <p class="articulo-colores">
                <i class="fas fa-circle"></i>
                <i class="far fa-circle"></i>
            </p>

        </article>
    </section>

</body>

<footer>
    <p>Todos los derechos reservados</p>
    <nav>
       <ul><a href="#">Términos y condiciones</a></ul>
       <ul><a href="#">Mapa de sitio</a></ul>
       <ul><a href="#">Información legal</a></ul>
    </nav>
 </footer>
</html>

