<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- viewport: Para que se adapte a la resolucion del celular -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupo 7, Catalina e commers de Carteras</title>

    <!-- FUENTES PARA EL TEXTO -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">


    <!-- FUETE PARA ICONOS -->
    <script src="https://kit.fontawesome.com/e0f89e011a.js" crossorigin="anonymous"></script>

    <!-- ESTILOS -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/stylehome.css">
</head>


<header class="header-completo">

    <!-- BARRA SUPERIOR FIJA NEGRA -->
    <div class="header-barraSupFija">
        <h2 class="header-barraTop-texto">
            ENVÍO GRATIS DESDE $20.000 | ENVIOS EN EL DÍA PARA CABA
        </h2>
    </div>

    <!-- MENU LOGO BUCADOR CARRITO -->
    <div class="header-menu-busca-carrito">
        <i class="fas fa-bars"></i>
        <a href="/home" style="text-decoration:none"><h1 class="marca">MILUZ</h1></a>
        <div class="header-busca-carrito">
            <i class="fas fa-search"></i>
            <a href="/login"><i class="far fa-user"></i> </a>
            <h2>|</h2>
            <a href="/carrito"><i class="fas fa-shopping-bag"></i></a>
        </div>
    </div>
</header>

<body>
    <div class="main-producto">

        <!-- MINIATURA QUE PUEDE INTERESARTE -->

        <section class="miniatura">
            <article>
                <img src="img/HTPARTY-AZOR.jpg" width="200px">
                <div>
                    <p class="articulo-titulo">Cartera Char </p>
                    <p class="articulo-precio">$41.500 </p>
                    <p class="articulo-cuotas">12 cuotas de $3.458 </p>
                </div>
                <div class="articulo-colores">
                    <div class="circulo-azul"><i class="fas fa-circle"></i></div>
                    <div class="circulo-amarillo"><i class="fas fa-circle"></i></div>
                </div>
            </article>
            <div class="miniatura-inf"></div>
        </section>


        <!-- ARTICULO DETALLE -->

        <section class="detalle">
            <img src="img/HKCHAR-UVNI.jpg" width="200px">
        </section>

        <!-- COMPRAR DETALLE -->

        <section class="comprar">
            <div>
                <p class="articulo-titulo">Cartera Char </p>
                <p class="articulo-precio">$41.500 </p>
                <p class="articulo-cuotas">12 cuotas de $3.458 </p>
            </div>
            <div class="lineaFooter"></div>
            <p>Seleccionar color:</p>
            <div class="lineaFooter"></div>

            <div class="articulo-colores">
                <div class="circulo-violeta"><i class="fas fa-circle"></i></div>
                <div class="circulo-amarillo"><i class="fas fa-circle"></i></div>
                <div class="circulo-negro"><i class="fas fa-circle"></i></div>
            </div>
            <button class="comprarBoton" type="comprar">Comprar <i class="fas fa-shopping-bag"></i></button>

            <div class="comprar-detalle">
                
                <h3>Detalles del producto</h3>
                <p>Bolso de gamuzon con estampa</p>

                <h3>Medida</h3>
                <p>Alto 38cm. Ancho 32cm. Profundidad 2cm.</p>

                <h3>Cuidados</h3>
                <p>No mojar. No lavar. Evitar fuertes roces ya que se puede desgastar el material y el color</p>
            
            </div>
            <div class="comprar-compartir">
                <i class="fas fa-share-alt"></i>
                <p>Compartir</p>
            </div>
        </section>
    </div>

    <!-- RELACIONADO CON LA COMPRA OPCIONES Y CONDICIONES -->

    <section class="opcionesCompra">
        <div class="footer-pie">
            <i class="fas fa-credit-card"></i>
            <p>Cuotas & Formas de Pago</p>
        </div>

        <p class="opcionesBarra"></p>

        <div class="footer-pie">
            <i class="fas fa-shipping-fast"></i>
            <p>Tiempos & Formas de envio</p>
        </div>

        <p class="opcionesBarra"></p>

        <div class="footer-pie">
            <i class="fas fa-user-shield"></i>
            <p>Politica de cambios & Devoluciones</p>
        </div>

        <p class="opcionesBarra"></p>

        <div class="footer-pie">
            <i class="fas fa-store"></i>
            <p>Retira tu pedido en una tienda</p>
        </div>

    </section>
</body>

<footer>
    <div class="footerStart">
        <div class="lineaFooter"></div>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
        <div class="lineaFooter"></div>
    </div>

    <p>© Miluz © 2020 Todos los Derechos Reservados</p>
</footer>

</html>