<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- viewport: Para que se adapte a la resolucion del celular -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gruupo 7, Catalina e commers de Carteras</title>

    <!-- FUENTES PARA EL TEXTO -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">


    <!-- FUETE PARA ICONOS -->
    <script src="https://kit.fontawesome.com/e0f89e011a.js" crossorigin="anonymous"></script>

    <!-- ESTILOS -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styleshopping.css">
</head>


<header class="header-completo">

    <!-- BARRA SUPERIOR FIJA NEGRA -->
    <div class="header-barraSupFija">
        <h2 class="header-barraTop-texto">
            ENVÍO GRATIS DESDE $20.000 | ENVIOS EN EL DÍA PARA CABA
        </h2>
    </div>

    <!-- MENU LOGO BUCADOR CARRITO -->
    <div class="header-menu-busca-carrito">
        <i class="fas fa-bars"></i>
        <a href="/home" style="text-decoration:none"><h1 class="marca">MILUZ</h1></a>
        <div class="header-busca-carrito">
            <i class="fas fa-search"></i>
            <a href="/login"><i class="far fa-user"></i> </a>
        </div>
    </div>
</header>

<body>
    <div class="main-producto">

        <!-- DETALLE DE COMPRA -->
            
        <section class="detalle">
            <div class="items">
                <p class="articulo-titulo">Producto</p>
                <p class="articulo-precio">Precio Unitario </p>
                <p class="articulo-cuotas">Cantidad </p>
                <p class="articulo-cuotas">Subtotal </p>
            </div>
            <div class="lineaFooter"></div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="lineaFooter"></div>
            <h3 class="total-detalle">Total:</h3>

            
        </section>
       
        <!-- RESUMEN DE COMPRA -->

        <section class="resumen">
            <div class="comprar-detalle">
                
                <h3>Resumen de compra</h3>
                
            </div>
            <div class="lineaFooter"></div>
            <p>Si tienes un codigo de descuento,podes aplicarlo haciendo <a href='#'>Click aquí</a></p>
            <div class="lineaFooter"></div>
            <div class="comprar-detalle">
                
                <h3>Calcular tiempos y costos de envios</h3>
                
            </div>
            <div class="lineaFooter"></div>
            <div>
                <p class="articulo-titulo">Sub-total</p>
                <div class="total"><h3>Total</h3></div>
                
            </div>
            <div class="lineaFooter"></div>
            
            <button class="comprarBoton" type="comprar">Comprar <i class="fas fa-shopping-bag"></i></button>

        
        </section>
    </div>

    <!-- RELACIONADO CON LA COMPRA OPCIONES Y CONDICIONES -->

    <section class="opcionesCompra">
        <div class="footer-pie">
            <i class="fas fa-credit-card"></i>
            <p>Cuotas & Formas de Pago</p>
        </div>

        <p class="opcionesBarra"></p>

        <div class="footer-pie">
            <i class="fas fa-shipping-fast"></i>
            <p>Tiempos & Formas de envio</p>
        </div>

        <p class="opcionesBarra"></p>

        <div class="footer-pie">
            <i class="fas fa-user-shield"></i>
            <p>Politica de cambios & Devoluciones</p>
        </div>

        <p class="opcionesBarra"></p>

        <div class="footer-pie">
            <i class="fas fa-store"></i>
            <p>Retira tu pedido en una tienda</p>
        </div>

    </section>
</body>

<footer>
    <div class="footerStart">
        <div class="lineaFooter"></div>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
        <div class="lineaFooter"></div>
    </div>

    <p>© Miluz © 2020 Todos los Derechos Reservados</p>
</footer>

</html>