<!DOCTYPE html>
<html lang="en">

<!--EL SEGUNDO PARAMETRO ES UN OBJETO, CON UNA PROPIEDAD POR CADA VARIABLE (QEU VOY A USAR DENTRO DEL EJS)-->
<%- include('./partials/head', {titulo:'Detail', stylesFile:'stylehome.css'}) %>

<body>

    <!-- Header -->
    <%- include('./partials/header') %>

    <div class="main-producto">

        <!-- MINIATURA QUE PUEDE INTERESARTE -->

        <section class="miniatura">
            <article>
                <img src="img/HTPARTY-AZOR.jpg" width="200px">
                <div>
                    <p class="articulo-titulo">Cartera Char </p>
                    <p class="articulo-precio">$41.500 </p>
                    <p class="articulo-cuotas">12 cuotas de $3.458 </p>
                </div>
                <div class="articulo-colores">
                    <div class="circulo-azul"><i class="fas fa-circle"></i></div>
                    <div class="circulo-amarillo"><i class="fas fa-circle"></i></div>
                </div>
            </article>
            <div class="miniatura-inf"></div>
        </section>


        <!-- ARTICULO DETALLE -->

        <section class="detalle">
            <img src="img/HKCHAR-UVNI.jpg" width="200px">
        </section>

        <!-- COMPRAR DETALLE -->

        <section class="comprar">
            <div>
                <p class="articulo-titulo">Cartera Char </p>
                <p class="articulo-precio">$41.500 </p>
                <p class="articulo-cuotas">12 cuotas de $3.458 </p>
            </div>
            <div class="lineaFooter"></div>
            <p>Seleccionar color:</p>
            <div class="lineaFooter"></div>

            <div class="articulo-colores">
                <div class="circulo-violeta"><i class="fas fa-circle"></i></div>
                <div class="circulo-amarillo"><i class="fas fa-circle"></i></div>
                <div class="circulo-negro"><i class="fas fa-circle"></i></div>
            </div>
            <button class="comprarBoton" type="comprar">Comprar <i class="fas fa-shopping-bag"></i></button>

            <div class="comprar-detalle">
                
                <h3>Detalles del producto</h3>
                <p>Bolso de gamuzon con estampa</p>

                <h3>Medida</h3>
                <p>Alto 38cm. Ancho 32cm. Profundidad 2cm.</p>

                <h3>Cuidados</h3>
                <p>No mojar. No lavar. Evitar fuertes roces ya que se puede desgastar el material y el color</p>
            
            </div>
            <div class="comprar-compartir">
                <i class="fas fa-share-alt"></i>
                <p>Compartir</p>
            </div>
        </section>
    </div>

    <!-- RELACIONADO CON LA COMPRA OPCIONES Y CONDICIONES -->

    <section class="opcionesCompra">
        <div class="footer-pie">
            <i class="fas fa-credit-card"></i>
            <p>Cuotas & Formas de Pago</p>
        </div>

        <p class="opcionesBarra"></p>

        <div class="footer-pie">
            <i class="fas fa-shipping-fast"></i>
            <p>Tiempos & Formas de envio</p>
        </div>

        <p class="opcionesBarra"></p>

        <div class="footer-pie">
            <i class="fas fa-user-shield"></i>
            <p>Politica de cambios & Devoluciones</p>
        </div>

        <p class="opcionesBarra"></p>

        <div class="footer-pie">
            <i class="fas fa-store"></i>
            <p>Retira tu pedido en una tienda</p>
        </div>

    </section>

    <%- include('./partials/footer') %>

</body>

</html>