<!DOCTYPE html>
<html lang="en">

<!--EL SEGUNDO PARAMETRO ES UN OBJETO, CON UNA PROPIEDAD POR CADA VARIABLE (QEU VOY A USAR DENTRO DEL EJS)-->
<%- include('./partials/head', {titulo:'Home', stylesFile:'styleshopping.css'}) %>

<body>

    <!-- Header -->
    <%- include('./partials/header') %>
    
    <div class="main-producto">

        <!-- DETALLE DE COMPRA -->
            
        <section class="detalle">
            <div class="items">
                <p class="articulo-titulo">Producto</p>
                <p class="articulo-precio">Precio Unitario </p>
                <p class="articulo-cuotas">Cantidad </p>
                <p class="articulo-cuotas">Subtotal </p>
            </div>
            <div class="lineaFooter"></div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="lineaFooter"></div>
            <h3 class="total-detalle">Total:</h3>

            
        </section>
       
        <!-- RESUMEN DE COMPRA -->

        <section class="resumen">
            <div class="comprar-detalle">
                
                <h3>Resumen de compra</h3>
                
            </div>
            <div class="lineaFooter"></div>
            <p>Si tienes un codigo de descuento,podes aplicarlo haciendo <a href='#'>Click aquí</a></p>
            <div class="lineaFooter"></div>
            <div class="comprar-detalle">
                
                <h3>Calcular tiempos y costos de envios</h3>
                
            </div>
            <div class="lineaFooter"></div>
            <div>
                <p class="articulo-titulo">Sub-total</p>
                <div class="total"><h3>Total</h3></div>
                
            </div>
            <div class="lineaFooter"></div>
            
            <button class="comprarBoton" type="comprar">Comprar <i class="fas fa-shopping-bag"></i></button>

        
        </section>
    </div>

    <%- include('./partials/footer') %>
    
</body>



</html>